<form class="flex-form">
  <h1>Welcome</h1>
  <input type="email" id="email" placeholder="Email" name="email" required>
  <input type="password" id="user_password" placeholder="Password" name="password" required>
  <button id="login" type="submit">Login</button>
  <span class="error" id="login-err-msg"></span>
  <div class="register-cta">
    <a class="register-cta" href="/register">Don't have an account? Register</a>
  </div>
</form>

