{{!-- <div class="nav">
  <a href="#">Meme Machine</a>
  <div class="nav-links">
    {{#if isloggedin}}
      <a href="/creator">Creator</a>
      <a href="/profile">My Profile</a>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/">Login</a>
      <a href="/register" data-register={{register}}>Register</a>
    {{/if}}
  </div>
  <button class="hamburger" type="button">
    <i class="fas fa-bars"></i>
  </button>
  </a>
</div> --}}
<div class="flex-nav">
  <div class="flex-logo">
    Meme Machine
  </div>
  <ul class="flex-links">
    {{#if isloggedin}}
      <li><a href="/library">Library</a></li>
      <li><a href="/creator">Creator</a></li>
      <li><a href="/profile">My Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/">Login</a></li>
      <li><a href="/register" data-register={{register}}>Register</a></li>
    {{/if}}
  </ul>
</div>
