<div>
  <ul class="flex-nav">
    {{#if isloggedin}}
      <li class="flex-logo"><a href="/">Meme Machine</a></li>
      <li class="flex-item"><a href="/library">Library</a></li>
      <li class="flex-item"><a href="/creator">Creator</a></li>
      <li class="flex-item"><a href="/profile">My Profile</a></li>
      <li class="flex-item logout"><a href="/logout">Logout</a></li>
      <li class="flex-toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    {{else}}
      <li class="flex-logo"><a href="/">Meme Machine</a></li>
      <li class="flex-item button"><a href="/">Login</a></li>
      <li class="flex-item button secondary"><a href="/register" data-register={{register}}>Register</a></li>
      <li class="flex-toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    {{/if}}
  </ul>
</div>