<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-storage.js"></script>
  <script src="https://kit.fontawesome.com/27176ac7cb.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/my_styles.css" media="screen" title="no title" charset="utf-8">
	<title>Meme Machine</title>
</head>

<body>
  {{{body}}}
  <script src="/html2canvas/dist/html2canvas.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/creator.js"></script>
</body>
</html>
