<div class="nav">
  <a href="#">Unnamed Project</a>
  <div class="nav-links">
    <a href="#">My Account</a>
    <a href="#">Creator</a>
    <a href="#">Messenger</a>
  </div>
  <button class="hamburger" type="button">
    <i class="fas fa-bars"></i>
  </button>
  </a>
</div>

<input type="file" class="upload-image">

<script src="https://kit.fontawesome.com/27176ac7cb.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{{!-- <script src="/js/html2canvas.js"></script> --}}
<script src="/js/creator.js"></script>