{{> nav-block }}

{{!-- <div style="border: 1px solid black; text-align: center;">
  <div class="custom-file-input">
    <input type="file">
    <div id="artboard" class="artboard">
      <h2 contenteditable="true">Click here to edit text.</h2>
    </div>
  </div>
</div> --}}

{{!-- <div class="wrapper"> --}}
  {{!-- <input type="file"> --}}
  {{!-- <div class="container"> --}}
    {{!-- <div class="artboard"> --}}
      {{!-- <h2 id="meme-text" contenteditable="true">Click here to edit text.</h2> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
{{!-- </div> --}}


<div class="wrapper">
  <div class="container">
    <input type="file">
    <div id="capture">
      <h2 id="meme-text" contenteditable="true">This is H2 Text</h2>
    </div>
    <button id="save-meme" type="button">Save</button>
  </div>
</div>

{{!-- <div>

</div> --}}
