{{> nav-block }}

<div class="flex-body">
  <div class="flex-creator">
    <div class="container">
      <input type="file">
      <div id="capture">
        <h2 id="meme-text" contenteditable="true">Click Here to Edit Text</h2>
        <h3 class="upload-instruction"><i class="fas fa-upload"></i></h3>
      </div>
    </div>
    <input type="text" name="fileName" id="filename" placeholder="Enter a Meme Name">
    <span class="error hide" id="create-err-msg"></span>
    <button id="save-meme" type="button">Save</button>
    <a id="download-button" disabled>
      <button id="download-meme" type="button" disabled>Download</button>
    </a>
  </div>
</div>
