{{> nav-block }}

{{!-- <div style="border: 1px solid black; text-align: center;">
  <div class="custom-file-input">
    <input type="file">
    <div id="artboard" class="artboard">
      <h2 contenteditable="true">Click here to edit text.</h2>
    </div>
  </div>
</div> --}}

{{!-- <div class="wrapper"> --}}
  {{!-- <input type="file"> --}}
  {{!-- <div class="container"> --}}
    {{!-- <div class="artboard"> --}}
      {{!-- <h2 id="meme-text" contenteditable="true">Click here to edit text.</h2> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
{{!-- </div> --}}


{{!-- <div class="wrapper">
  <div class="container">
    <input type="file">
    <div id="capture">
      <h2 id="meme-text" contenteditable="true">This is H2 Text</h2>
    </div>
  </div>
</div>
  <div style="display: block; text-align: center;">
    <input type="text" name="fileName" id="filename">
    <button id="save-meme" type="button">Save</button>
  </div> --}}

<div class="flex-body">
  <div class="flex-creator">
    <div class="container">
      <input type="file">
      <div id="capture">
        <h2 id="meme-text" contenteditable="true">Click Here to Edit Text</h2>
        <h3 class="upload-instruction"><i class="fas fa-upload"></i></h3>
      </div>
    </div>
    <input type="text" name="fileName" id="filename" placeholder="Enter a Meme Name">
    <button id="save-meme" type="button">Save</button>
  </div>
</div>
