<div class="nav">
  <a href="#">Unnamed Project</a>
  <div class="nav-links">
    <a href="#">My Account</a>
    <a href="#">Creator</a>
    <a href="#">Messenger</a>
  </div>
  <button class="hamburger" type="button">
    <i class="fas fa-bars"></i>
  </button>
  </a>
</div>

<div class="container" style="border: 1px solid black; text-align: center;">
  <div class="custom-file-input">
    <input type="file">
    <div class="artboard">
      <h2 contenteditable="true">Click here to edit text.</h2>
    </div>
  </div>
</div>

{{!-- <script src="/js/html2canvas.js"></script> --}}
<script src="/js/creator.js"></script>