{{> nav/nav-block}}

    <h1 class="lead">Welcome to <strong>Unnamed Project</strong></h1>
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
        <p>You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>

{{#unless isloggedin}}
  {{> modal/login-block}}
{{/unless}}
