<h1>Meme bruh!</h1>
<input type="file" class="upload-image">
<br>
<canvas id="canvas" style="border: 1px solid black" width="640" height="426">
</canvas>
{{!-- <img src="/images/img-1.jpg"/> --}}

{{!-- 640 × 426 --}}


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/js/meme.js"></script>