{{> nav-block user=false register=true}}

<div class="wrapper">
    <form class="register">
      <h1>Create Your Account</h1>
      <h3 id="create-err-msg"></h3>
      <h3 id="err-msg"></h3> 
      <div>
        <label for="inputFirst">First Name</label>
        <input type="text" id="inputFirst" placeholder="John">
      </div>
      <div>
        <label for="inputLast">Last Name</label>
        <input type="text" id="inputLast" placeholder="Doe">
      </div>
      <div>
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" placeholder="Email">
      </div>
      <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
      <div>
        <h2 id="message">{{ message }}</h2>
      </div>
      <button type="submit" id="add-user">Submit</button>
    </form>
</div>