{{> nav-block user=false register=true}}
<div class="flex-body">
  <form class="flex-form">
    <h2>Register Your Account</h2>
    <input type="text" id="inputFirst" placeholder="First Name">
    <input type="text" id="inputLast" placeholder="Last Name">
    <input type="email" id="inputEmail" placeholder="Email">
    <input type="password" id="inputPassword" placeholder="Password">
    <button type="submit" id="add-user">Create</button>
    <span class="error" id="create-err-msg"></span>
  </form>
</div>